$primary-color: #ff5200;
$light-color: #fff;
$light-gray: #ccc;
$dark-gray: #555;
$dark-color: #181920;
$text-color: #8b8e94;
$black: #000;
$secondary-bg: #e5eaff;
$footer-bg: #1d1d1d;
$black-transparent: rgba(0, 0, 0, 0.6);
